@page "/Top200Directors"
@using System.Collections
@using MovieBioApp.Data
@using MovieBioApp.Data.MovieService
@using MovieBioApp.Data.PeopleService
@using MovieBioApp.Data.TMDBAPI
@using MovieBioApp.Models
@using MovieBioApp.Models.ClassesToReadJson

@inject IPeopleService People;
@inject NavigationManager UriHelper;
@if (top20Directors == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
else
{
<div class="container paddingRemove">
    <div class="row">
        <div class="col-md-12">
            <h3>Top 20 Directors</h3>
        </div>
        
    </div>
    <div class="row rowStyle">
            <div class="col-md-4">Name</div>
            <div class="col-md-2">Rating</div>
            <div class="col-md-2">Date of birth</div>
            <div class="col-md-2">Known For</div>
            <div class="col-md-2">Picture</div>
        </div>

    @foreach (Director director in top20Directors)
        {
            <div class="row rowBorder">
                <div class="col-md-4">
                    <div>@director.name</div>
                </div>

                <div class="col-md-2">
                    <div>@director.rating</div>
                </div>

                <div class="col-md-2">
                    <div>@director.age</div>
                </div>

                <div class="col-md-2">
                    <div>
                        @if (tmdbapiObj[director.id].results[0].known_for[0].poster_path != null)
                        {
                            <img @onclick="@(e => movieImageclicked(director))" src="https://image.tmdb.org/t/p/original/@tmdbapiObj[director.id].results[0].known_for[0].poster_path" alt="No image for this Director" width="100%">
                        }
                        else
                        {
                            <img @onclick="@(e => movieImageclicked(director))" src="https://www.prokerala.com/movies/assets/img/no-poster-available.jpg" alt="Featured movie has no image" width="100%">
                        }
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            @if (tmdbapiObj[director.id].results[0].profile_path != null)
                            {
                                <img @onclick="@(e => directorImageclicked(director.id))" src="https://image.tmdb.org/t/p/original/@tmdbapiObj[director.id].results[0].profile_path" alt="No image for this Director" width="100%">
                            }
                            else
                            {
                                <img @onclick="@(e => directorImageclicked(director.id))" src="https://www.prokerala.com/movies/assets/img/no-poster-available.jpg" alt="Featured movie has no image" width="100%">
                            }
                        </div>
                    </div>
                </div>
                }
            </div>
            
}


@code {
    List<Director> top200Directors;
    List<Director> top20Directors;
    ITMDBAPI TMDBAPI = new TMDBAPI();
    Dictionary<int, Result> tmdbapiObj;
    IPeopleService peopleService;
    MovieService _movieService;
    protected override async Task OnInitializedAsync()
    {
        _movieService = new MovieService();
        top20Directors = new List<Director>();
        peopleService = new PeopleService();
        tmdbapiObj = new Dictionary<int, Result>();
        top20Directors = await peopleService.GetTop20Directors();
        
        foreach (Director director in top20Directors)
        {
            {
                tmdbapiObj.Add(director.id, await TMDBAPI.GetPersonById(director.name));
            }
        }
        

    }    
    
    void directorImageclicked(int id)
    {
        UriHelper.NavigateTo("DirectorPage/"+ id);
    }
    
    async Task movieImageclicked(Director director)
    {
        UriHelper.NavigateTo("MoviePage/"+ tmdbapiObj[director.id].results[0].known_for[0].id);
    }
    
}