@page "/Footer"
@inject NavigationManager UriHelper
<div class="footer">
  <div class="container">
      <div class="row">
          <div class="col-sm">
              <p><b>About Us</b></p>
              <i>We like movies and stuff</i>
              <br>
              <p><b>Contact Us</b></p>
              <p><b>Email:</b> <a href="Mailto:Service@MovieBio.com" >Service@MovieBio.com</a></p>
              <p><b>Phone:</b> +45 88 88 88 88</p>
              <p><b>Address:</b> The Cloud</p>
          </div>
          <div class="col-sm">
              <p><b>Movies picked by us:</b></p>
                        <p @onclick="@(e => imageclicked(1431045))">Deadpool</p>
                        <p @onclick="@(e => imageclicked(69745))">Female Vampire</p>
                        <p @onclick="@(e => imageclicked(68646))">The Godfather</p>
                        <p @onclick="@(e => imageclicked(1396484))">IT</p>
                        <p @onclick="@(e => imageclicked(170016))">How the grinch stole christmas</p>
          </div>
      </div>
  </div>
</div>













@code {
    void imageclicked(int id)
    {
        UriHelper.NavigateTo("MoviePage/"+ id);
    }
}